{% extends "base.html" %}

{% block title %}Recent Posts{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Recent</h1>
    <p>Last 100 posts from ransomware groups</p>
</div>

<div class="container">
    <div class="group-card" style="margin: 0;">
        <div class="group-card-body">
            <div class="table-container">
                <table class="table" id="recentTable">
                    <thead>
                        <tr>
                            <th style="width:12%">Date</th>
                            <th>Title</th>
                            <th style="width:15%">Group</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in data %}
                        <tr>
                            <td>{{ entry['discovered'].split(' ')[0] }}</td>
                            <td>{{ entry['post_title'] }}</td>
                            <td><a href="/group/{{ entry['group_name'] }}">{{ entry['group_name'] }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
